<% provide(:title, "Sign in") %>


<table>
<tr>
<td>


<div class="row">
  <div class="span7">
  <h1>Sign in</h1>
  <br/>
    <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>
    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <p>
      New user? <%= link_to "Sign up now!", signup_path %>
    </p>

  </div>

</div>
</td>
<td>
<article class="feature_text">
	<h2>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h2>
	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum. Velit aliquet. Maecenas faucibus mollis posuere velit aliquet interdum.</p>
</article>
</td>
</tr>
</table>




