<% provide(:title, 'Home') %>

<article class="main_display">
	<img src="/assets/logo.png"/>
	<div class="display_gloss"></div>
	<article class="banner_new"><p>New</p></article>
</article>
<article class="feature_text">
	<h2>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h2>
	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum. Velit aliquet. Maecenas faucibus mollis posuere velit aliquet interdum.</p>
</article>

<% if signed_in? %>
  <div class="row">
    <aside class="span8">
      <section>
		<a href="<%= expert_path(current_expert) %>">
			<%= gravatar_for current_expert %>
		</a>
		<h1>
			<%= current_expert.first_name %>
		</h1>

		<span>
			<%= link_to "view my profile", current_expert %><br/>
		</span>
		<span>
			<%= pluralize(current_expert.posts.count, "posts") %><br/><br/><hr/>
		</span>
		
      </section>
      <section>
			<%= form_for(@post) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
		  <div class="field">
			<%= f.text_area :content, placeholder: "Compose new micropost..." %>
		  </div>
		  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
		<% end %>
      </section>
    </aside>

	<div class="span10">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

<% end %> 

