<!DOCTYPE html>
<html>
  <head>
    <title>Expert Blog - <%= yield(:title)%></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	
  </head>

  <body>
  <header>
	<div class="wrapper">
		<table style="width:100%">
			<tr>
		<td><h1 >Expert Blog</h1></td>
		<td><ul class="nav pull-right">
			<li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Experts",  experts_path %></li>
			<li><%= link_to "About us",    index_about_page_path %></li>
            <li><%= link_to "Sign up", new_expert_path %></li>
			          <% if signed_in? %>
                <li><%= link_to "Profile", current_expert %></li>
                <li><%= link_to "Settings", edit_expert_path(current_expert) %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
		</ul></td>
		</tr>
		</table>
	</div><!--.wrapper-->
</header>

<section class="home_feature">
	<div class="wrapper">
	<br/>
			<% flash.each do |key, value| %>
		  <div class="alert alert-<%= key %>"><%= value %></div>
		<% end %> 
      <%= yield %>
	</div><!--.wrapper-->
</section>
	

	<footer class="footer" >
	  <div class="container">
	  <hr/>
		<small>
		Expert Blog
		<a href="mailto:shovan.swartz@gmail.com">by Shovan B. Swartz</a>
		</small>
	  </div>
	</footer>
	<br/>


  </body>
</html>