<%= provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @experts.each do |expert| %>
  <li>
    <%= gravatar_for expert %>
      <%= link_to expert.first_name, expert %>
        <% if current_expert.admin? && !current_expert?(expert) %>
          | <%= link_to "delete", expert, method: :delete, confirm: "You sure?" %>
        <% end %>
    </li>
    
  <% end %>
</ul>

<%= will_paginate %>