<h1>Listing experts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Topics of interest</th>
    <th>Expertise</th>
    <th>Professional bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experts.each do |expert| %>
  <tr>
    <td><%= expert.first_name %></td>
    <td><%= expert.last_name %></td>
    <td><%= expert.email_address %></td>
    <td><%= expert.topics_of_interest %></td>
    <td><%= expert.expertise %></td>
    <td><%= expert.professional_bio %></td>
    <td><%= link_to 'Show', expert %></td>
    <td><%= link_to 'Edit', edit_expert_path(expert) %></td>
    <td><%= link_to 'Destroy', expert, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expert', new_expert_path %>
