<% provide(:title, @expert.first_name) %>

<article class="main_display">
  <img src="/assets/logo.png"/>
  <div class="display_gloss"></div>
  <article class="banner_new">
    <p>New</p>
  </article>
</article>
<article class="feature_text">
  <h2>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h2>
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum. Velit aliquet. Maecenas faucibus mollis posuere velit aliquet interdum.</p>
</article>

<div class="row">
  <aside class="span8">
<p id="notice"><%= notice %></p>
<table>
<tr>
<td>
<%= gravatar_for @expert %>
</td>
<td>
<p>
  <b>First name:</b>
  <%= @expert.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @expert.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @expert.email_address %>
</p>

<p>
  <b>Topics of interest:</b>
  <%= @expert.topics_of_interest %>
</p>

<p>
  <b>Expertise:</b>
  <%= @expert.expertise %>
</p>

<p>
  <b>Professional bio:</b>
  <%= @expert.professional_bio %>
</p>
</td>
</tr>
</table>

<div  >
  <div >
    <% if @expert.posts.any? %>
      <h3>Posts (<%= @expert.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
  </div>
  </div>
  </div>

