<% provide(:title, @expert.first_name) %>
<p id="notice"><%= notice %></p>

<%= gravatar_for @expert %>
<p>
  <b>First name:</b>
  <%= @expert.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @expert.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @expert.email_address %>
</p>

<p>
  <b>Topics of interest:</b>
  <%= @expert.topics_of_interest %>
</p>

<p>
  <b>Expertise:</b>
  <%= @expert.expertise %>
</p>

<p>
  <b>Professional bio:</b>
  <%= @expert.professional_bio %>
</p>

  <div class="span8">
    <% if @expert.posts.any? %>
      <h3>Posts (<%= @expert.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>
